<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <%= form.nested_fields_for :comments do |comments_form| %>
      <%= comments_form.text_field :content %>
      <%= comments_form.remove_nested_fields_link %> # Delete link
  <% end %>
  
  <%= form.add_nested_fields_link :comments do %>
      <span>New Comment</span>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
